@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Inconsolata-regular/Inconsolata-regular.eot');
  src: url('/fonts/Inconsolata-regular/Inconsolata-regular.eot?#iefix') format('embedded-opentype'),
       local('Inconsolata'),
       local('Inconsolata-regular'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.woff2') format('woff2'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.woff') format('woff'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.ttf') format('truetype'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.svg#Inconsolata') format('svg');
}

