<li data-li="summary">
  <div data-form="edit">
   <%= render partial: "edit", locals: {dream: dream} %>
  </div>

  <div data-div="info">
    <%= render partial: "info", locals: {dream: dream} %>
  </div>

  <% if dream.dreamer == current_dreamer %>
    <%= link_to "Edit", edit_dream_path(dream), data: { link: "edit-dream" } %>
  <% end %>
</li>
