<div data-div="dream-form">
<h1>Edit Dream</h1>

<%= flash[:error] %>

  <%= render partial: "form", locals: {dream: dream} %>

<%= link_to 'Delete', dream_path(@dream), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
