<div data-div="dream-form">
<h1>Edit Dream</h1>

<%= render partial: "form", locals: {dream: dream} %>

<%= link_to 'Delete', dream_path(dream), method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
</div>
