<div data-div="dream-form">
<h1>Edit Dream</h1>

<%= render partial: "form", locals: {dream: dream} %>

<%= form_for dream, method: "Delete", data: { dream: "delete"} do |f| %>
  <%= f.submit "Delete" %>
<% end %>
</div>
