  <li data-li="summary">
    <%= dream.title %>
    <%= dream.story %>
    <% if dream.dreamer.id == session[:dreamer_id] %>
      <%= link_to "Edit", edit_dream_path(dream), data: { link: "edit-dream" } %>
    <% end %>
  </li>