<ul data-river="dreams">
  <div data-form="new">
   <%= render partial: "new", locals: {dream: @new_dream} %>
  </div>
  <%= link_to 'Add', new_dream_path, remote: true %>
  <% @dreams.each do |dream| %>
  <%= render partial: "summary", locals: {dream: dream} %>
  <% end %>
</ul>



