<% @dreams.each do |dream| %>
  <li>
    <%= dream.title %>
    <%= dream.story %>
    <% if dream.dreamer.id == session[:user_id] %>
      <%= link_to "Edit", edit_dream_path(dream) %>
    <% end %>
  </li>
<% end %>

<%= link_to 'Add', new_dream_path %>
