<div id="dream-index" class="trend-container">
  <h3 class="popular-dreams-title center">Trending</h3>

  <div class="trend-river">
    <ul>
    <% @popular_hashtags.each do |hashtag| %>
      <li><%= render hashtag %></li>
    <% end %>
  </ul>
  </div>

  <div data-form="new">
    <%= render "new" %>
  </div>

  <div class="center add-dream">
    <p><%= link_to 'Add New Dream', new_dream_path, class: "button", data: {link: "add-dream" } %></p>
  </div>
</div>

<div class="dreams-container">
  <div class="center">
    <h3>Recent Dreams</h3>
  </div>
  <div data-timestamp="" data-method="get" data-action="/shortpoll" data-info="timestamp" class="dream-river">

    <ul data-river="dreams" class="accordion" data-accordion>
      <%= render @dreams %>
    </ul>
  </div>
</div>


