<h6>Add New Comment</h6>

<%= form_for @comment, data: {form: "new-comment"} do |f| %>
  <%= f.hidden_field :dream_id, value: params[:id] %>
  <%= f.text_field :content, placeholder: "add a comment" %>
  <%= f.submit "Submit", class: "button" %>
<% end %>