<ol>
  <li class="title">
    Dream Recall
    <ul>
      <li>Write down everything you recall about your dreams in your dream journal.</li>
      <li>Upon awakening, remain absolutely still while you recall the essential elements of the dream.</li>
    </ul>
  </li>
  <li class="title">
    Reality Testing
    <ul>
      <li>Wear a digital watch throughout the day. Read the words or numbers on the watch. Then, look away and look back, observing the letters or numberrs to see if they change. Try to make them change while watching them. If the characters are normal, stable, and sensible, then you probably aren't dreaming.</li>
      <li>Imagine that your surroundings are a dream. Vizualize as vividly as possible that you are dreaming. Intently imagine that what you are seeing, hearing, smelling, feeling is all a dream.</li>
      <li>Visualize yourself enjoying a dream activity. Decide on something you would like to do in your next lucid dream, perhaps flying, talking to particular dream characters, or just exploring the dream world.</li>
    </ul>
  </li>
  <li class="title">
    Look for 'Dreamsigns'
    <ul>
      <li>These are elements that indicate that you are dreaming. (Examples: miraculous flight, purple cats, malfunctioning devices, and meeting deceased people.)</li>
      <li>Practice, practice, practice.</li>
    </ul>
  </li>
  <li class="title">
    Take naps
    <ul>
      <li>Wakefulness interjected during sleep increases the likelihood of lucidity.</li>
      <li>Awaken one hour earlier than usual, stay awake for 30 to 60 minutes, then go back to sleep.</li>
    </ul>
  </li>
</ol>
