<div data-div="step-form">
  <h1>Edit Step</h1>
  <%= form_for step, url: update_recipe_step_path(step) do |f| %>
      <p>
      <%= f.label :description %>
      <%= f.textarea :description, placeholder: "description" %>
    </p>
    <p>
      <% f.submit %>
    </p>
  <% end %>
  <%= link_to 'Delete', remove_step(step), method: :post, data: { remote: true } %>
</div>

