<div class="step-info">
    <% if step.creator %>
      <%= link_to "#{step.creator.username}", profile_path(step.creator)%>
    <% end %>

    <div class="right">
      posted <%= step.timestamp %> ago
    </div>
  </div>
</p>