<li data-li="step">
<div data-form="edit-step">
   <%= render partial: "edit_step", locals: {step: step} %>
  </div>
  <div data-div="step-info">
    <%= render partial: "info_step", locals: {step: step} %>
  </div>
  <% if step.creator == current_dreamer %>
    <%= link_to "Edit", edit_step_path(step), data: { link: "edit-step" }, remote: true %>
  <% end %>
  <li>
<hr>