<li data-li="step">
<p>
  <div data-div="step-info">
    <%= render partial: "info", locals: {step: step} %>
  </div>
<%= step.description %><br>
  <% if step.creator == current_dreamer %>
    <%= link_to "Edit", edit_step_path(step), data: { link: "edit-step" }, remote: true %>
  <% end %>
  <li>
<hr>