<h1><%= @recipe.name %></h1>
<h1>Recipe</h1>
<ul>
  <% @recipe.steps.each do |step| %>
    <li>
      <%= step.description %>
      <%= link_to 'delete', delete_step_path(step), method: :delete %>
    </li>
  <% end %>
</ul>


