@font-face {
  font-family: 'Special Elite';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Special-Elite-regular/Special-Elite-regular.eot');
  src: url('/fonts/Special-Elite-regular/Special-Elite-regular.eot?#iefix') format('embedded-opentype'),
       local('Special Elite'),
       local('Special-Elite-regular'),
       url('/fonts/Special-Elite-regular/Special-Elite-regular.woff2') format('woff2'),
       url('/fonts/Special-Elite-regular/Special-Elite-regular.woff') format('woff'),
       url('/fonts/Special-Elite-regular/Special-Elite-regular.ttf') format('truetype'),
       url('/fonts/Special-Elite-regular/Special-Elite-regular.svg#SpecialElite') format('svg');
}

