<div id="hashtag-search" class="hashtag-search">
  <h2>Searching dreams with tag "<%= @hashtag.name %>"</h2>
  <ul class="hashtag-dreams" class="accordion" data-accordion>
    <%= render @dreams %>
  </ul>
  <%= will_paginate @dreams%>
</div>


