<div class="intro-page">
  <h1 class="welcome-title"><%= link_to "DreamCatcher", welcome_path %></h1>
  <div class="intro-container">
    <p><%= link_to "Already have an account? Log In.", login_path, class: "log-in" %></p>
    <h4>Lucid Dream</h4>
    <h6>- any dream in which one is aware that one is dreaming -</h6>

    <p><em>"often when one is asleep, there is something in consciousness which declares that what then presents itself is but a dream"</em> ~Aristotle</p>
  </div>

  <p class="welcome-button"><%= link_to 'Start Dreaming', signup_path, class: "button" %></p>
</div>
