<li data-li="step">
  <div data-form="edit-step">
    <%= render partial: "edit", locals: {step: step} %>
  </div>
  <div data-div="step-info">
    <%= render partial: "show", locals: {step: step} %>
  </div>
  <hr>
</li>
