<li data-li="step">
  <div data-div="step-info">
    <% unless step.creator != current_dreamer && current_dreamer.steps.include?(step)%>
      <a><img src=<%= image_path("add-icon.png") %> class="icon" data-href="<%= clone_path(step) %>" data-method="post" data-info="add-step"/></a>
    <% end %>
    <%= step.description %>
  </div>
  <hr>
</li>
