<li data-li="step">
  <div data-div="step-info">
    <% unless step.creator != current_dreamer && current_dreamer.steps.include?(step)%>
      <%= link_to image_tag("add-icon.png", class: "icon"), clone_path(step), method: "post", action: "clone" %>
    <% end %>
    <%= step.description %>
  </div>
  <hr>
</li>
