<li data-li="step">
  <div data-div="step-info">
    <%= link_to image_tag("add-icon.png", class: "icon"), clone_path(step), method: "post", action: "clone" %>
    <%= render partial: "show", locals: {step: step} %>
  </div>
  <hr>
</li>
