<li data-li="step">
  <div data-div="step-info">
    <%= render partial: "show", locals: {step: step} %>
  <% if step.dreamers.includes(current_dreamer) %>
    <%= form_for step, url: step_path(step), method: "delete", data: {form: "remove-step"} do |f| %>
      <%= f.submit "Delete" %>
    <% end %>
  <% end %>
  </div>
  <hr>
</li>
