<li data-li="step" class="step-wrapper">
  <div data-div="step-info">
    <% if step.dreamers.includes(current_dreamer) %>
  <a><img data-form="remove-step" data-href="<%=step_path(step)%>" data-method="delete" class="icon" src="<%= image_path("delete-icon.png")%>"/></a>
      <%= step.description %>
    <% end %>
  </div>
  <hr>
</li>
