<li data-li="step">
  <div data-div="step-info">
    <% if step.dreamers.includes(current_dreamer) %>
      <%= link_to image_tag("delete-icon.png", class: "icon"), step_path(step), method: "delete", data: {form: "remove-step"} %>
      <%= step.description %>
    <% end %>
  </div>
  <hr>
</li>
