<li data-li="step">
  <div data-div="step-info">
    <%= render partial: "show", locals: {step: step} %>
    <% if step.dreamers.includes(current_dreamer) %>
      <a><img data-href="<%=step_path(step)%>" data-form="remove-step" data-method="delete" class="icon" src="<%=image_path("delete-icon.png")%>"/></a>
    <% end %>
  </div>
  <hr>
</li>
