[data-form="new"], [data-form="edit"]{display:none;}
[data-form="new_step"], [data-form="edit-step"]{display:none;}
[data-form="profile"]{display:none;}
[data-div="hidden"]{display:none;}
[data-form="edit-comment"]{display:none;}