.hashtag-dreams{
  list-style-type: none;
}

.hashtag {
  list-style-type: none;
  background: #FFCCB2;
  padding: 0.2em 0.4em;
  border-radius: 0.7em;
  color: #000;
}

a.hashtag:hover {
  color: #000;
}