body {
  background-image:url("dream_catcher_bg.gif") !important ;
}

main {
  width: 50%;
  padding: 1em;
  font-family: 'Inconsolata', sans-serif;
  min-height: 30em;
  background: #FFF;
}

.title-area {
  font-family: 'Fredericka the Great', cursive;
}

.center {
  text-align: center;
  margin: auto;
}

.profile-container {
  li {
    list-style-type: none;
  }
}

nav {
  a {
    border-left: 1px solid #999;
  }
}

.edit-icon {
  width: 0.8em;
  height: 0.8em;
}

.avatar {
  border: 1px solid #999;
  position: relative;
  left: 12em;
  width: 9em;
  height: 9em;
  margin-bottom: 2em;
}

sub {
  color: #999;
}

.dreams-container, .trend-container,
.recipe-container, .popular-steps-container {
  float: right;
  width: 50%;
  height: 29em;
  padding: 1em;
}

.dream-river, .trend-river,
.popular-steps-river, .recipe-steps-river {
  height: 21.4em;
  overflow: scroll;
  text-align: left;
  padding: 0 2em;

  ul {
    list-style-type: none;
  }
}

.trend-container, .recipe-container {
  float: left;
}

.recipe-steps-river, .dream-river {
  height: 27em;
}


footer {
  font-size: 0.7em;
  padding: 1em;
  width: 89.2em;
  background: #FFF;
}

.icon {
  border: 1px solid #999;
  width: 2.5em;
  height: 2.5em;
}

.comment, .search {

  li {
    padding: 1.5em;
    list-style-type: none;
  }

  li:nth-child(even) {
    background: #F0F0F5;
  }
}