main {
  width: 50%;
  padding: 1em;
  font-family: 'Inconsolata', sans-serif;
}

.title-area {
  font-family: 'Fredericka the Great', cursive;
}

.center {
  text-align: center;
  margin: auto;
}

.profile-container {
  li {
    list-style-type: none;
  }
}

nav {
  a {
    border: 1px solid #999;
  }
}

.dreams-container, .trend-container {
  float: right;
  text-align: left;
  width: 50%;
  height: 29em;
  padding: 1em;
}

.trend-container {
  float: left;
}

.dream-river, trend-river {
  border: 1px solid #999;
  overflow: scroll;
  text-align: left;
  height: 25em;
  padding: 0 1em;

  ul {
    list-style-type: none;
  }
}

.edit-icon {
  width: 0.8em;
  height: 0.8em;
}

.avatar {
  border: 1px solid #999;
  position: relative;
  left: 18em;
  width: 10em;
  height: 10em;
  margin-bottom: 2em;
}

sub {
  color: #999;
}