html, body {
  height: 100%;
}

main {
  width: 100%;
  font-family: 'Inconsolata', sans-serif;
  min-height: 100%;
}

.title-area {
  font-family: 'Fredericka the Great', cursive;
}

.center {
  text-align: center;
  margin: auto;
}

.profile-container {
  li {
    list-style-type: none;
  }
}

nav {
  a {
    border-left: 1px solid #999;
  }
}

sub {
  color: #999;
}

.avatar-icon {
  border: 1px solid #999;
  width: 3.5em;
  height: 3.5em;
}

.avatar {
  border: 1px solid #999;
  width: 6em;
  height: 6em;
}

.icon {
  width: 0.9em;
  height: 0.9em;
}

.comment, .search,
.hashtag-search, .messages {
  text-align: left;

  li {
    padding: 1.5em;
    list-style-type: none;
  }

  li:nth-child(even) {
    background: #F0F0F5;
  }
}

.messages {
  text-align: left;

  li {
    padding: 1.5em;
    list-style-type: none;
    border-radius: 1em;
    clear: both;
    width: 50%;
  }

  .current {
    float: right;
    background: #F0F0F5;
    border-radius: 1em;
    width: 50%;
  }
}

.nav-stacked {
  list-style-type: none;
}

.list-group {
  list-style-type: none;
}

.list-group-item:nth-child(even) {
  background: #F0F0F5;
}

footer {
  font-size: 0.7em;
  width: 100%;
  background: #333;
}


